<!DOCTYPE html>
<html>
  <head>
    <title>Ala Wai</title>
    
    <link
      rel="stylesheet"
      href="./style/mobileSign.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <a id="back" href="./map"><span class="material-symbols-outlined" >arrow_back_ios</span></a>
    <div id="signup">
      <img
        src="https://cdn.glitch.global/801f6764-b7d7-4264-aeb7-369efceadd71/Genki-Project.png?v=1727664986473"
        id="img-home"
      />
      <br>
      <h1>
        {{place}}
      </h1>
      <h2>
        {{description}}
      </h2>
      <div id="scont">
        <form action="/form" method="post">
          <input class="input" type="text" name="email" placeholder="Email">
          <input class="input" type="password" name="password" placeholder="Password">
          <input class="input" type="number" name="number" placeholder="Genki-Ball #">
          <p>
            {{warning}}
          </p>
          <input id="submit" type="submit">
        </form>
        <p>
      </div>
    </div>
  </body>
</html>
