<html>
  <head>
    <title>Ala Wai</title>

    <link rel="stylesheet" href="./style/styleHome.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 960px)"
      href="./style/homeMobile.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <script src="./map.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <div id="home">
      <div id="main">
        <div class="home" title="Travis.Thurston, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons">
          <img
            src="https://cdn.glitch.global/801f6764-b7d7-4264-aeb7-369efceadd71/Genki-Project.png?v=1727664986473"
            id="img-logo"
          />
          <h1>How to Make</h1>
          <hr>
          <p>the Genki Ball</p>
        </div>
        <div id="site">
          <h1>Select a Site</h1>
          <ol>
            <li>Select a shady area to work; best outdoors on grass</li>
            <li>Have tables and benches available</li>
            <li>Tarps to protect tables</li>
            <li>Water source with hose and water key for water pipe is crucial</li>
          </ol>
        </div>
        <div id="supplies">
          <h1>General Procedure: Supplies</h1>
          <ul>
            <li>Soil</li>
            <li>EM-1 Concentrate</li>
            <li>Molasses</li>
            <li>Rice Bran</li>
            <li>Alumbinum Baking Pans</li>
          </ul>
        </div>
        <div id="soil">
          <h1>Procedure: Preparing The Dry Soil</h1>
          <ol>
            <li>Place soil in a mixing tray (1 bag = 10 to 12 liters of sifted soil)</li>
            <li>Add rice or wheat bran carefully due to its fine particles (800g); mix well</li>
            <li>Prepare the EM mixture:</li>
              <ul>
                <li>Place 800 ml. of water into a 3 to 4 L. container</li>
                <li>Add .5 cup of molasses to the water and mix well (w/ clean hand)</li>
                <li>Add 1 liter of EM-1 and mix well</li>
              </ul>
            <li>Add prepared EM-1 mixture slowly and mix well till soil is rolled and formed into a firm ball. (Don’t use all of the liquid if soil feels too wet)</li>
            <li>Pat the ball so the air pockets are removed</li>
            <li>Add EM mixture or water in small amounts if the ball easily crumbles</li>
            <li>Place 12 balls on layers of newspaper in a baking aluminum pan</li>
            <li>Take balls to the counting area</li>
            <li>Keep balls covered w/ newspaper throughout drying</li>
          </ol>
        </div>
        <div id="storage">
          <h1>Storage: Procedure</h1>
          <ol>
            <li>Cover balls w/ newspaper</li>
            <li>Place them in a area where they will not get wet</li>
            <li>Select an storage area away from direct sunlight</li>
            <li>Allow them to dry slowly (about 2 weeks). Rapid drying = cracking and break-up</li>
            <li>Turn over to all all sides to dry</li>
            <li>Change the newspaper to avoid black mold growth</li>
          </ol>
          <br>
        </div>
      </div>
      <div id="footer" class="hone">
        <a class="link-f" href="/leaderboard-points">
          <span class="material-symbols-outlined"> leaderboard </span>
          Leaderboard
        </a>
        <a class="link-f" href="/map">
          <span class="material-symbols-outlined"> explore </span>
          Explore
        </a>
        <a class="link-f" href="/home">
          <span class="material-symbols-outlined"> home </span>
          Home
        </a>
      </div>
    </div>
  </body>
</html>
