<html>
  <head>
    <title>Ala Wai</title>

    <link rel="stylesheet" href="./style/styleHome.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 960px)"
      href="./style/homeMobile.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <script src="./map.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <div id="home">
      <div id="main">
        <div class="home" title="Travis.Thurston, CC BY-SA 3.0 &lt;https://creativecommons.org/licenses/by-sa/3.0&gt;, via Wikimedia Commons">
          <img
            src="https://cdn.glitch.global/801f6764-b7d7-4264-aeb7-369efceadd71/Genki-Project.png?v=1727664986473"
            id="img-logo"
          />
          <h1>Goal</h1>
          <hr>
          <p>Our goal is to raise awareness of the issue in the Ala Wai and to provide a proven solution that others can implement in their own communities.</p>
        </div>
        <div id="join">
          <h1>Want to make a difference in your community?</h1>
          <hr>
          <a href="/sign"><h2>Join Now Here!</h2></a>
        </div>
        <div id="map">
          <h1>Maps</h1>
          <hr>
          <div class="column1">
            <a href="/map"><h2>Steams and Conduits</h2></a>
            <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.arcgis.com/apps/Embed/index.html?webmap=039cda4f2a724d68a9d170a19c0ec949&extent=-157.8472,21.2731,-157.8051,21.2939&zoom=true&previewImage=false&scale=true&legendlayers=true&disable_scroll=true&theme=light"
            ></iframe>
          </div>
          <div class="column2">
            <a href="/map"><h2>Sugarcane and Agriculture Map</h2></a>
            <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.arcgis.com/apps/Embed/index.html?webmap=8e1101a136704fc4887e84cae4c1b920&extent=-158.0473,21.2527,-157.7105,21.4193&zoom=true&previewImage=false&scale=true&legendlayers=true&disable_scroll=true&theme=light"
            ></iframe>
          </div>
        </div>
      </div>
      <div id="footer" class="hone">
        <a class="link-f" href="/leaderboard-points">
          <span class="material-symbols-outlined"> leaderboard </span>
          Leaderboard
        </a>
        <a class="link-f" href="/map">
          <span class="material-symbols-outlined"> explore </span>
          Explore
        </a>
        <a class="link-f" href="/home">
          <span class="material-symbols-outlined"> home </span>
          Home
        </a>
      </div>
    </div>
  </body>
</html>
